<div class="visible-xs">
    <div class="row">
        <div style='text-align:center;'>
            <img style='width:290px;height:70px;' src="http://localhost:8081/comet/metaData/branding/1" />
        </div>
    </div>
    <div>

        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Server URL</label>
                <input type="text" ng-change="serverUrlChange()" ng-model="serverUrl" class="form-control" id="exampleInputEmail1" placeholder="Server URL">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tenant</label>
                <input type="text" ng-change="tenantChange()" class="form-control" ng-model="tenant" id="exampleInputPassword1" placeholder="Password">
            </div>
        </form>
    </div>
    <!--<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>-->
</div>